/* Everything */
:root {
    box-sizing: border-box;
}

/* Everything */
#mainWrapper {
    text-align:center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
}


table,#game,body,td {
    margin: 25px auto 0 auto;    
}

body {
    background: radial-gradient(circle,
     rgb(212, 20, 20) 0%, 
     rgb(0, 0, 0) 84%, 
     rgb(241, 5, 5) 100%);
}

/* Title */
h1 {
    color: rgb(233, 214, 196);
    font-size: 4em;
}

/* c */
#c {
    text-decoration: underline rgb(218, 230, 50);
}

/* Replay Button */
button {
    width: 200px;
    height: 100px;
    /* margin: 15px 150px; */
    border-radius: 10%;
    border: none;
    background-color: rgb(195, 247, 54);
    background-position: center;
    box-shadow: 2px 2px rgb(160, 202, 44), 
    4px 4px rgb(127, 161, 34), 
    6px 6px rgb(0, 0, 0);
    font-size: 2em;
    color: rgb(182, 74, 55);
    text-shadow: 1px 1px rgb(182, 74, 55), 1px 1px rgb(182, 74, 55);
    
}

#retry {
    float: left;
    margin-top: 16px;
    margin-left: 16px;
}

/* obvi */
#game,#gameboard {
    width:800px;
    text-align: center;
    border-spacing:4px;
    border-radius: 25px 25px 0px 0px;
}

/* Setting the color for legs and table */
#gameboard,.leg {
    background:rgb(0, 0, 153);
    box-shadow: 5px 5px rgb(28, 28, 216),
    10px 10px rgb(123, 123, 158), 
    15px 15px rgb(54, 54, 189); 
}

/* slots */
#gameboard td {
    width:85px;
    height:85px;
    border-radius:50%;	
    background: radial-gradient(closest-side,
    rgb(0, 0, 0), 
    rgb(238, 202, 202), 
    rgb(65, 66, 66), 
    rgb(243, 244, 253));		
}

/* Red Disc's */
#gameboard .red {
    background-image: radial-gradient(closest-corner at 80px 25px,
    rgb(218, 192, 187) 0%, 
    rgb(180, 39, 39) 100%);


}

/* black Disc's */
#gameboard .black {
    background-image: radial-gradient(closest-corner at 80px 25px,
    rgb(211, 197, 196) 0%, 
    rgb(6, 6, 7) 100%);

    
}
/* placing legs */
.leg {
    margin-top: -1px;
    height:125px;
    width:40px;
    border-radius:0px 0px 12px 12px;
}

.left{
    float:left;
}

.right {
    float:right;
}

/* hiding winning text until needed */
#redDisc,#blackDisc,#newGame,#winner {
    display:none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(14, 13, 13); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalContent {
    
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid rgb(180, 39, 39) 50%;
    width: 200px;
    color: rgb(235, 221, 220);
    border-radius: 50%; 
    background-image: radial-gradient(closest-corner at 200px 25px,
    rgb(218, 192, 187) 25%, 
    rgb(180, 39, 39) 100%);
    font-size: 15px;
    
  }
  
  /* The Close Button */
  .close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -15px;
  }
  
  /* Hovering on the close X highlights red */
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }

  /* instructions div to move the button around. */
.instructions {
    margin-left: 550px;
    margin-top: 16px;

}